<section class="book-reading">
  <h2>Estou lendo...</h2>
  <article>
    <figure>
      <img src="https://http2.mlstatic.com/D_NQ_NP_872973-MLB51560206296_092022-O.webp" alt="Capa do livro Aprendendo TypeScript">
      <figcaption>Aprendendo TypeScript - Melhore suas habilidades de desenvolvimento web usando JavaScript Type-Safe</figcaption>
    </figure>
    <div class="book-info">
      <p><strong>Aprendendo TypeScript</strong></p>
      <p>Melhore suas habilidades de desenvolvimento web usando JavaScript Type-Safe</p>
      <p>Autor: Josh Goldberg</p>
      <p>Editora: O'Reilly</p>
    </div>
  </article>
</section>
