<section class="about-me">
  <p>Sou <strong>Tiago Celestino</strong>, de Salvador, Bahia. Além do programação e tecnologias, curto fotografia e corridas de rua.</p>
  <p>Esse espaço é onde anoto o que aprendo e o que penso.</p>
</section>
