---
layout: default
---

<div>
  <div class="top__descr">Anotações para mim mesmo, mas se tiver interesse em ler, fique a vontade.</div>
  <ol reversed class="post-list">
    {%- for post in collections.post | reverse -%}
      <li>
        <span class="post-meta">{{ post.date | readableDate }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
        </h2>
      </li>
    {%- endfor -%}
  </ol>
