<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
    <title>Bloco de Notas por Tiago Celestino</title>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="706bda1c-3aca-440d-b69a-905012ef0900"></script>
  </head>

  <body>
    <header>
      <h1><a href="{{ '/' | url }}">Blocos de Notas</a></h1>
      <small>Por Tiago Celestino</small>
    </header>

    <main>
      <section>{{ content | safe }}</section>
    </main>

    <footer>
      <small>built with <a href="https://11ty.dev" rel="noopener noreferrer" target="_blank">11ty</a></small>
    </footer>
  </body>
</html>
