---
layout: default
---

<article>
  <header>
   <time datetime="{{ page.date }}">
      {{ page.date | readableDate }}
    </time>
    <h1>{{ title }}</h1>
  </header>
    {{ content | safe }}
</article>
