.about-me {
  margin-bottom: var(--margin-large);
}
.about-me p {
  margin: 0 0 var(--margin-base);
  font-size: var(--font-size-medium);
  line-height: 1.5;
}

@media (max-width: 640px) {
  .about-me p {
    font-size: var(--font-size-base);
  }
}
