.last-posts > h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--margin-small);
  text-transform: lowercase;
}
.last-posts ol li {
  display: flex;
  flex-direction: row;
  gap: var(--margin-small);
  align-items: center;
  margin-bottom: var(--margin-small);
  font-weight: 800;
}
.last-posts ol li time {
  font-size: var(--font-size-small);
}
.last-posts ol li time::after {
  content: '-';
  margin-left: var(--margin-small);
}
.last-posts ol li .summary {
  display: none;
}
.last-posts ol h3 {
  font-size: var(--font-size-base);
}
.last-posts ol a {
  text-decoration: none;
}
.last-posts ol a:hover {
  text-decoration: underline;
}
.last-posts ol p {
  margin: 0;
}
.last-posts .see-more {
  display: inline-block;
  width: fit-content;
  margin-top: var(--margin-base);
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  background-color: #800080;
  padding: var(--padding-small);
  color: #fff;
  font-size: var(--font-size-small);
}
