/*@import 'syntax-highlighting.css';*/

body {
  padding: 1rem;
}
body > main {
  padding: 0;
}

body > footer {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
}

.top-header {
  padding: 0;
}
.top-header h1 {
  padding: 0;
  margin: 0;
}

.nav-links ul {
  font-size: 1rem;
}

.last-posts > ol {
  padding-left: 0;
}
.last-posts li {
  list-style: none;
  margin-bottom: 1rem;
}
.last-posts li h3 {
  margin-top: 0.5rem;
  padding: 0;
}
