@import "var.css";
@import "syntax-highlighting.css";
@import "utils.css";
@import "header.css";


/* @media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-link: #fff;
    --color-link-hover: #fff;
  }
} */

body {
  line-height: 1.5;
  color: #444;
  margin: 0;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

ol {
  li {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

main {
  margin: 1rem 0;
  ol {
    list-style: none;
  }
}

article {
  h2 {
    margin: 0.5rem 0;
  }
  ul,
  ol {
    margin: 1rem 1.5rem;
    li {
      ul {
        margin: 0 1rem;
      }
    }
  }
  ol {
    list-style: decimal;
  }
}
