@import "var.css";
@import "syntax-highlighting.css";
@import "utils.css";
@import "header.css";
@import "last-posts.css";

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: var(--color-text);
  padding: var(--margin-small) var(--margin-small);
}

ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

ol li {
  margin-bottom: var(--margin-base);
}
ol li:last-child {
  margin-bottom: 0;
}

main ol {
  list-style: none;
}

article h2 {
  margin: var(--margin-small) 0;
}

article ul,
article ol {
  margin: var(--margin-base) var(--margin-large);
}
article ol {
  list-style: decimal;
}
article ul li ul,
article ol li ul {
  margin: 0 var(--margin-base);
}

.content-page,
.top-header,
.content-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 90ch;
}

.content-page {
  margin-top: var(--margin-xx-large);
  margin-bottom: var(--margin-base);
}
.content-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-page p {
  line-height: 1.5;
}

.content-page ol li {
  display: flex;
  flex-direction: row;
  gap: var(--margin-small);
  align-items: center;
  margin-bottom: var(--margin-small);
  font-weight: 800;
}
.content-page ol li time {
  font-size: var(--font-size-base);
  white-space: nowrap;
}
.content-page ol li time::after {
  content: '-';
  margin-left: var(--margin-small);
}
.content-page ol li h3 {
  font-size: var(--font-size-base);
}
.content-page ol li .summary {
  display: none;
}
