@import "var.css";
@import "syntax-highlighting.css";
@import "utils.css";
@import "header.css";

body {
  line-height: 1.5;
  color: #444;
  margin: 0;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}

ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

ol li  {
   margin-bottom: 1rem;
}
ol li:last-child {
  margin-bottom: 0;
}

main {
  margin: 1rem 0;
}

main ol {
  list-style: none;
}

article h2 {
  margin: 0.5rem 0;
}

article ul, article ol {
  margin: 1rem 1.5rem;
}
article ol {
  list-style: decimal;
}
article ul li ul, article ol li ul {
   margin: 0 1rem;
}
