:root {
  /* colors */
  --color-text: #444;

  /* social */
  --color-social-github: #1f2328;
  --color-social-linkedin: #0a66c2;
  --color-social-bsky: #017ff3;
  --color-social-unsplash: #111;
  --color-social-rss: #f8981c;

  /* fonts */
  --line-height-base: 1.2;
  --font-weight-base: 400;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;

  /* margins */
  --margin-base: 1em;
  --margin-small: 0.5em;
  --margin-large: 1.5em;
  --margin-x-large: 2em;
  --margin-xx-large: 2.5em;
  --margin-xxx-large: 3em;

  /* padding */
  --padding-base: 1em;
  --padding-small: 0.5em;
  --padding-large: 1.5em;
  --padding-x-large: 2em;
  --padding-xx-large: 2.5em;
  --padding-xxx-large: 3em;
}
