<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}" />
    <title>Bloco de Notas por Tiago Celestino</title>
  </head>

  <body>
    <header class="site-header">
      <div class="wrapper">
        <div class="top">
          <h1 class="top__title"><a href="{{ '/' | url }}">Blocos de Notas</a></h1>
        </div>
      </div>
    </header>

    <main class="page-content">
      <div class="wrapper">{{ content }}</div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <small>with Eleventy and GitHub Actions 🚀</small>
      </div>
    </footer>
  </body>
</html>
