---
layout: default
eleventyExcludeFromCollections: true
title: Nada encontrado
permalink: 404.html
---

<h2>Nada encontrado!!! 😬</h2>
<p>
  Desculpe, mas o que você tentou acessar não existe.</p>
  <p>Volte para a <a href="{{ '/' | url }}">página principal</a>.
</p>
