---
layout: default
---
<main>
  <ol reversed>
    {%- for post in collections.posts -%}
      <li>
        <time datetime="{{ post.date }}">{{ post.date | readableDate }}</time>
        <h2>
          <a href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
        </h2>
      </li>
    {%- endfor -%}
  </ol>
</main>
