<div>
  <ol reversed>
    {%- for post in collections.posts -%}
      <li>
        <span>{{ post.date | readableDate }}</span>
        <h2>
          <a href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
        </h2>
      </li>
    {%- endfor -%}
  </ol>
</div>
