---
layout: default
eleventyExcludeFromCollections: true
permalink: posts.html
---

<section class="last-posts">
  <h2>Todas as postagens</h2>
  <ol>
    {%- for post in collections.lastPosts -%}
      <li>
        <time datetime="{{ post.date }}">{{ post.date | readableDate }}</time>
        <h3>
          <a href="{{ post.url | url }}">{{ post.data.title | safe }}</a>
        </h3>
        {% if post.data.description %}
          <p>{{ post.data.description | safe }}</p>
        {% endif %}
      </li>
    {%- endfor -%}
  </ol>
</section>
