<header id="header">
  <h1><a href="{{ '/' | url }}">Blocos de Notas</a> <small>por Tiago Celestino</small></h1>
  <nav id="pages">
    <ul>
      <li><a href="{{ page.url | url }}">Quem sou</a></li>
      <li><a href="{{ page.url | url }}">Projetos</a></li>
    </ul>
  </nav>
  <nav>
   <ul id="social">
      <li><a href="#">Github</a></li>
      <li><a href="#">Bluesky</a></li>
      <li><a href="#">Linkedin</a></li>
    </ul>
  </nav>
</header>
