<header id="header">
  <h1><a href="{{ '/' | url }}">{{ header.title | safe }} <small>{{ header.subtitle | safe }}</small></a></h1>

  {% if header.menu.local %}
  <nav id="pages">
    <ul>
      {% for item in header.menu.local %}
        <li><a href="{{ item.url }}">{{ item.title | safe }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  {% if header.menu.social %}
  <nav>
   <ul id="social">
   {% for social in header.menu.social %}
      <li><a href="{{social.url }}" {% if social.newTab %}target="_blank" rel="noopener noreferrer"{% endif %}>{{social.title | safe }}</a></li>
    {% endfor %}
    </ul>
  </nav>
  {% endif %}
</header>
